@charset "UTF-8";
      #slider {width:100%; height:495px; background-color:gold; background-size:cover; background-position:center;}

      #slider h1 {text-align:center; color:#fff;  text-transform:uppercase; font-size:40px;  padding:150px 0 0 0px;}

      #slider h6 {text-align:center;  width:100%;  color:#fff; font-size:40px; margin:20px 0 50px 30px;}

      #slider button {display:block; padding:10px 20px;  background-color:#8533ff; margin:0 auto; border-radius:20px; border:none; color:#fff; opacity:0.8;}

      #slider button:hover { cursor:pointer; background-color:#944dff; color:##6600ff; }


      section {width:100%; height:3900px; margin:0 auto;}
      #story {width:1880px; height:200px; margin:0 auto;}
      .one {width:320px;height:85px;float:left;}
      .one span {text-align:center; font-size:20px; color:orange; font-weight:bold;padding:10px;}
      .one h5 {font-size:13px; margin:20px 0 0 70px;}
      .one img {max-width:100%;}

      .two {width:320px;height:85px;float:left;}
      .two span {text-align:center; font-size:20px; color:orange; font-weight:bold;}
      .two h5 {font-size:13px; margin:10px;margin:20px 0 0 70px;}
      .two img {max-width:100%;}

      .three {width:320px;height:85px;float:left;padding:10px;}
      .three span {text-align:center; font-size:20px; color:orange; font-weight:bold;}
      .three h5 {font-size:13px; margin:10px;margin:20px 0 0 70px;}

      .three img {max-width:100%;}
      #story > div:nth-of-type(1) {margin:40px 0 0 400px;}
      #story > div:nth-of-type(2) {margin:40px 0 0 50px;}
      #story > div:nth-of-type(3) {margin:40px 0 0 50px;}



      #item {width:1090px; height:500px; margin:0 auto; padding:20px;}
      #item img {max-width:100%;}
      #item h5 {text-align:center; font-size: 20px; padding:20px;}
      #item span {color:#ffa31a;}
      #item hr  {opacity:0.7;}

      .new {width:235px; height:370px; float:left; margin:10px 0px 0 20px;border:1px solid #ddd; border-radius:4px;padding:3px;}
      .new:hover {box-shadow:0 0 2px 1px rgba(0, 140, 186, 0.5);}
      .new1 {width:490px; height:370px; border:1px solid #ddd; border-radius:4px;padding:3px; float:left; margin:10px 0px 0 30px;}
      .new1:hover {box-shadow:0 0 2px 1px rgba(0, 140, 186, 0.5);}


      .new2 {width:235px; height:370px; border:1px solid #ddd; border-radius:4px;padding:3px; float:left; margin:10px 0px 0 30px;}
      .new2:hover {box-shadow:0 0 2px 1px rgba(0, 140, 186, 0.5);}


      .new img {width:100%;height:100%;}
      .new1 img {width:100%;height:100%;}
      .new2 img {width:100%;height:100%;}

      #item > div:nth-of-type(1){width:40px 0 0 20px;}
      #item > div:nth-of-type(2){width:40px 0 0 20px;}
      #item > div:nth-of-type(3){width:40px 0 0 20px;} 




      #item2 {width:1090px; height:550px; margin:0 auto;}
      #item2 h5 {text-align:center; font-size:20px; padding:10px;}
      #item2 span {color:#ffa31a;}
      .product1 {width:235px;height:400px; float:left;background-color:#ff3366;}
      .product1 img {width:100%; height:100%;}
      .product2 {width:220px; height:400px; float:left; border:2px solid #666; margin:20px;}
      .product2 img {max-width:90%;}
      .product2 img:hover {opacity:0.7;}
      .product2 h4 {font-size:13px; margin:15px 0 0 0px; text-align:center;}
      .product2 h6 {text-align:center; color:#a6a6a6;font-weight:bold; font-size:16px; margin:10px 0 0 10px;}
      .product2 h6 span {text-decoration:line-through; color:#eee;font-size:8px; margin:45px 0 0 0px;}
      .product2 p {text-align:center; font-size:9px;}
      .product2 button {border-radius:5px; border:none; padding:2px; margin:10px 75px;background-color:#e18484;color:#fff;}

      #item2 > .product2 {box-shadow:4px 4px 4px #ddd; width:215px; height:380px; border:1px 

        solid #ddd; float:left; padding:10px 0 0 15px;box-sizing:border box;}

      #item2 > div:nth-of-type(1){margin:10px 0 0 20px;}
      #item2 > div:nth-of-type(2){margin:10px 0 0 20px;}
      #item2 > div:nth-of-type(3){margin:10px 0 0 30px;}
      #item2 > div:nth-of-type(4){margin:10px 0 0 30px;}

      #food {width:1090px; height:920px; margin:0 auto;}
      #food h3 {text-align:center; font-size:20px; padding:5px;}
      #food h3 span {color:red;}
      .food1 {width:240px; height:400px; float:left; margin:25px 0 0 25px;}
      .food1 img {max-width:100%;}
      .food1 img:hover {opacity:0.7;}
      .food1 h5 {font-size:14px; text-align:center;}
      .food1 h6 span {text-decoration:line-through; color:#b3b3b3;font-size:8px; margin:45px 0 0 0px;}
      .food1 h6 {text-align:center;}
      .food1 button {border:none; border-radius:5px; padding:2px; margin:10px 75px;background-color:#e18484; color:#fff;}
      #food > .food1 {box-shadow:3px 3px 3px #eee; border:1px solid #ddd;width:215px; height:350px; 
        float:left; box-sizing:border box; margin:10px; padding:10px 5px;}


      #food > div:nth-of-type(1){margin:40px 0 0 40px;}
      #food > div:nth-of-type(2){margin:40px 0 0 40px;}
      #food > div:nth-of-type(3){margin:40px 0 0 40px;}
      #food > div:nth-of-type(4){margin:40px 0 0 40px;}
      #food > div:nth-of-type(5){margin:40px 0 0 40px;}
      #food > div:nth-of-type(6){margin:40px 0 0 40px;}
      #food > div:nth-of-type(7){margin:40px 0 0 40px;}
      #food > div:nth-of-type(8){margin:40px 0 0 40px;}


      #item3 {width:1090px; height:575px; margin:0 auto;}
      #item3 h5 {font-size:20px; text-align:center;}
      .new3 {width:240px; height:400px; float:left; margin:10px;}
      .new3 img {max-width:100%;}
      .new3 img:hover {opacity:0.7;}
      .new3 h4 {text-align:center;font-size:15px;}
      .new3 span {background-color:#ffff80;}
      .new3 p {text-align:center;}

      #item3 > .new3 {box-shadow:4px 4px 4px #eee; width:235px; height:370px; border:1px solid 

        #ddd; float:left; padding:15px; box-sizing:border box;}
      #item3 > div:nth-of-type(1){margin:30px 0 0 90px;}
      #item3 > div:nth-of-type(2){margin:30px 0 0 70px;}
      #item3 > div:nth-of-type(3){margin:30px 0 0 70px;}






      #banner {width:1000px; height:300px; margin:0 auto;}
      #banner h5 {text-align:center; font-size:25px; font-family:맑은 고딕;}
      .coupon {width:450px; height:105px; float:left; margin:30px 0 0 30px;}
      .coupon2 {width:450px; height:105px; float:left; margin:30px 0 0 30px;}

      #best {width:1035px; height:885px; margin:0 auto;}
      #best h3 {text-align:center; font-size:20px; height:5x;}
      #best ul {display:flex; justify-content: center; font-size:16px; color:#999999; font-family:"맑은 고딕"; margin:50px 0 0 0px;}
      #best li {float:left;  padding: 20px 0 0 45px; font-weight:bold;}
      #best li a {text-decoration:none; color:#000;}
      #best li a:hover{color:orange;}

      .best1 {width:240px; height:400px; float:left; margin:0;}
      .best1 img {max-width:100%; padding:0;}
      .best1 img:hover {opacity:0.8;}
      .best1 h5 {text-align:center; text-decoration:none;font-size:13px;}
      .best1 h6 {text-align:center;}
      .best1 h6 span{text-decoration:line-through; color:#b3b3b3;font-size:8px; margin:45px 0 0 0px;}
      .best1 button {border:none; border-radius:5px; padding:2px; margin:10px 75px;background-color:#e18484; color:#fff;}

      #best > .best1 {box-shadow:4px 4px 4px #eee; width:235px; height:300px; border:1px solid #ddd; float:left; padding:15px; box-sizing:border box;}

      #best > div:nth-of-type(1){margin:50px 0 0 60px;}
      #best > div:nth-of-type(2){margin:50px 0 0 80px;}
      #best > div:nth-of-type(3){margin:50px 0 0 50px;}
      #best > div:nth-of-type(4){margin:50px 0 10px 60px;}
      #best > div:nth-of-type(5){margin:50px 0 10px 80px;}
      #best > div:nth-of-type(6){margin:50px 0 10px 50px;}



      